//Variables
$num : 1;
$tamano : 30px;
$tiempo : 20s;

//Cadenas
$nombre : "Amauri";
$valor : block;
$sexo : "hombre";

//Colores
$rojo : yellow;
$color_rgb : rgb(100,192,0);
$color_hex : #2f7060;

//Borde
$borde : 10px dashed red;
