@import "variables";
@import "mixins";
@import "div";
@import "nesting";

h1 {
    color : $rojo;
    border : $borde;
}

body {
    @if $sexo == "hombre" { background-color: white;}
    @else {background-color: pink;}
}

