doctype html 
html 
    head 
        title Ejermplo Pug
        link(rel="stulesheet" href="estilos.css") 
    body 
        h1 Esto es un encabezado 
        div 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quod culpa eum fugiat similique beatae praesentium odio incidunt, cum adipisci, ipsum labore dicta minus aspernatur porro eius doloremque ex iure.
            p.parrafo.
                Esto es un parrafo 
                que tiene
                multilinea  
